*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body    {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: rgb(230, 239, 237);
}
.heartBx{
    animation: animate alternate 0.5s infinite;
}
.heart    {
    position: relative;
    width: 120px;
    height: 120px;
    background:#000000;
    transform: rotate(45deg);
    box-shadow: 0 0 100px #000000;
}
.heart::before  {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: -50%;
    transform: rotate(45deg);
    box-shadow: 0 0 100 px #000000;
    background-image: url('https://media3.giphy.com/media/26gIQ0DsLS5ydqHdK/giphy.gif?cid=790b761163b5f4985c409a2874b1414eea70eb68482dde3c&rid=giphy.gif&ct=g');
}
.heart::after  {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -50%;
    left:0;
    transform: rotate(45deg);
    box-shadow: 0 0 100px #000000;
    background-image: url('https://media3.giphy.com/media/26gIQ0DsLS5ydqHdK/giphy.gif?cid=790b761163b5f4985c409a2874b1414eea70eb68482dde3c&rid=giphy.gif&ct=g');
}

@keyframes animate { 
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.25);
    }
}